h1,
h3,
p {
    font-weight: 400;
}

.new-announcement-button {
    background-color: #1BA098;
    /* Example blue color */
    color: #FFFFFF;
    padding: 1% 5%;
    border: none;
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 90vh;
    /* width: 70%; */
    /* text-align: center; */
}

.banner-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid #DEB992;
}

.title {
    font-size: 3em;
    color: #1BA098;
    font-weight: 100;
    margin-bottom: 0;

}

.button-container {
    display: flex;
    justify-content: right;
    margin-right: 5%;
    margin-bottom: 0;
}

.announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement-container {
    background-color: #0B2D45;
    margin: 5% 4%;
    border-radius: 15px;
    width: 75vh;
}

.announcement-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 10%;
}

.announcement-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.announcement-author {
    width: 50%;
    text-align: left;
}

.announcement-date {
    width: 50%;
    text-align: right;
}

.announcement-body {
    align-items: center;
    justify-content: center;
    text-align: left;
    line-height: 1.5;
    width: 100%;
}

.announcement-body p {
    word-wrap: break-word;
}

.tools-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}

.tools-container button {
    color: #FFFFFF;
    padding: .5% 3%;
    border: none;
    border-radius: 10px;
    font-size: .9em;
    cursor: pointer;
}

.edit-button {
    margin: 1%;
    background-color: #DEB992;
    box-shadow: 1px 1px 5px 0.1px rgba(250, 242, 153, 0.49);
}

.delete-button {
    margin: 1%;
    background-color: rgba(255, 2, 2, 0.7);
    box-shadow: 1px 1px 5px 0.1px rgba(255, 83, 83, 0.49);
}

/* --------------------------------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 21;
}


.form-container {
    background-color: #0B2D45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 3% 9% 0 9%;;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DEB992;
    z-index: 22;
}

.placeholder-text {
    color: #0B2D45;
    cursor: default;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 1rem;
    display: flex;
}

.input-group textarea {
    fill: none;
    border: none;
    background-color: #0B2D45;
    border-bottom: 1px solid #DEB992;
    margin: 5% 2%;
    ;
    width: 100%;
    text-align: left;
    padding: 2% 0;
    color: #DEB992;
    font-family: 'Mulish', sans-serif;
}


.submit-button {
    background-color: #1BA098;
    padding: 3% 10%;
    border: 2px solid #1BA098;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20%;
    width: 50%;
}

.close-button {
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.close-icon {
    width: 30%;
    height: auto;
    cursor: pointer;
}


.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-feedback {
    align-items: center;
    text-align: center;
}