<nav *ngIf="isVisible$ | async" class="nav-bar">
    <div class="nav-left">
        <img src="assets/images/app-icon.png" alt="app-icon-alt" class="navbar-icon">
        <span class="navbar-text">{{ userName$ | async }}</span>
    </div>
    <div class="nav-right" [class.active]="showMenu">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="toggleMenu()">
            <h1 class="link main-green">Home</h1>
        </a>
        <a *ngIf="isAdmin$ | async" routerLink="/company" routerLinkActive="active" (click)="toggleMenu()">
            <h1 class="link main-green">Company</h1>
        </a>
        <a routerLink="/teams" routerLinkActive="active" (click)="toggleMenu()">
            <h1 class="link main-green">Teams</h1>
        </a>
        <a *ngIf="isAdmin$ | async" routerLink="/users" routerLinkActive="active" (click)="toggleMenu()">
            <h1 class="link main-green">Users</h1>
        </a>
        <div class="clickable">
            <h1 class="link main-green" (click)="logout()">Logout</h1>
        </div>
    </div>
    <button class="toggle-button" (click)="toggleMenu()">
        <img class="menu-icon" src="assets/images/nav-bar.png" alt="Menu">
    </button>
</nav>