.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-bottom: 3px solid #DEB992;
}

.link {
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    padding: 0 5vh;
}

a {
    text-decoration: none;
}

.active {}

a.active > h1.link {
    color: orange;
}