/* You can add global styles to this file, and also import other style files */

html {
    background-color: #051623;
}

.white {
    color: #ffffff;
}

.main-font {
    font-family: Arial, Helvetica, sans-serif;
}

.main-green {
    color: #1CA098;
}

.main-nav-border {
    color: #DEB992;
}

.main-border {
    color: #C3A584;
}

.main-annoucement {
    color: #0C2D45;
}