/* You can add global styles to this file, and also import other style files */

html {
    background-color: #051622;
}

body {
    font-family: 'Mulish', sans-serif;
}

.white {
    color: #ffffff;
}

.main-font {
    font-family: 'Mulish', sans-serif;
}

.main-green {
    color: #1BA098;
}

.main-nav-border {
    color: #DEB992;
}

.main-border {
    color: #C3A584;
}

.main-announcement {
    color: #0B2D45;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (max-width: 800px) {
    html {
        transform: scale(.80);
        transform-origin: top;
    }
}
