<div class="teams-page">
    <h2>Teams</h2>
    <div class="teams-box">
        <div class="team-box">
            <div *ngFor="let team of allTeams">
                <mat-card>
                    <a [routerLink]="['/projects']" (click)="OnClickTeam(team.id)">
                        <mat-card-header>
                            <p class="header-left">{{ team.name }}
                            </p>
                            <p class="header-right">
                                # of Projects: 4
                                <!-- TODO: implement get projects by team -->
                            </p>
                        </mat-card-header>
                    </a>
                    <div class="members">
                        <h4>Members</h4>
                        <div class="member-box">
                            <div *ngFor="let user of team.users">
                                <mat-card-content>
                                    <p class="member-text">{{ user.profile.firstname }} {{
                                        user.profile.lastname.charAt(0)
                                        }}.</p>
                                </mat-card-content>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <mat-card class="new-team">
                <div>
                    <div class="plus-sign">
                        +
                    </div>
                    <p class="new-team-text">New Team</p>
                </div>
            </mat-card>
        </div>
    </div>
</div>