.teams-page {
    color: #1BA098;
    font-family: 'Mulish', sans-serif;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    font-family: 'Mulish', sans-serif;
}

h4 {
    text-align: center;
    font-weight: 400;
    color: white;
}

.header-left {
    color: white;
    font-size: 24px;
}

.header-right {
    color: white;
    margin-left: 130px;
    font-size: 16.24px;
    margin-top: 30px;
}

.team-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

mat-card {
    border: none;
    border-radius: 20px;
    margin: 50px;
    width: 373px;
    height: 340px;
    background: #0B2D45;
}

mat-card-header {
    border: 1px solid #DEB992;
    border-top: none;
    border-left: none;
    border-right: none;
}

.member-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

mat-card-content {
    border: none;
    border-radius: 10.29px;
    background: #1BA098;
    width: 103px;
    height: 32px;
    text-align: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px !important;
}

.member-text {
    color: white;
    line-height: 32px;
}

.new-team {
    background: #051622;
    border-width: 2px, 2px, 2px, 2px;
    border-style: solid;
    border-color: #DEB992;
    border-radius: 20px;
}

.plus-sign {
    font-size: 300px;
    font-weight: 400;
    text-align: center;
    color: #DEB992;
    line-height: 0.9;
}

.plus-sign:hover {
    cursor: pointer;
}

.new-team-text {
    color: #DEB992;
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 0.0001;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 21;
}


.form-container {
    background-color: #0B2D45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 3% 9%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DEB992;
    z-index: 22;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.input-group input {
    fill: none;
    border: none;
    background-color: #0B2D45;
    border-bottom: 1px solid #DEB992;
    margin: 5% 2%;
    ;
    width: 100%;
    text-align: left;
    padding: 2% 0;
    color: #DEB992
}

.input-group select {
    background-color: white;
    text-align: center;
    color: #005594;
    font-weight: bold;
    border: 1px solid lavender;
    padding: 4px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.submit-button {
    background-color: #1BA098;
    padding: 3% 10%;
    border: 2px solid #1BA098;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20%;
    width: 50%;
}

.close-button {
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.close-button-small {
    font-size: 1.2rem;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    width: 30%;
    height: auto;
    cursor: pointer;
}

.close-icon-small {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.selected-members {
    display: flex;
    flex-wrap: wrap;
}

.member-container {
    display: flex;
    align-items: center;
    background: #1BA098;
    border-radius: 10.29px;
    padding: 5px 10px;
    /* Adjust padding as needed */
    margin: 5px;
}

.select-member {
    color: white;
    margin-right: 10px;
}


.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-feedback {
    align-items: center;
    text-align: center;
}