<div class="teams-page">
    <h2>Teams</h2>
    <div class="teams-box">
        <div class="team-box">
            <div *ngFor="let team of allTeams; let i = index">
                <mat-card>
                    <a [routerLink]="['/projects']" (click)="OnClickTeam(team.id)">
                        <mat-card-header>
                            <p class="header-left">{{ team.name }}
                            </p>
                            <p class="header-right"># of Projects: {{ team.projectLength }}
                            </p>
                        </mat-card-header>
                    </a>
                    <div class="members">
                        <h4>Members</h4>
                        <div class="member-box">
                            <div *ngFor="let user of team.users">
                                <mat-card-content>
                                    <p class="member-text">{{ user.profile.firstname }} {{
                                        user.profile.lastname.charAt(0)
                                        }}.</p>
                                </mat-card-content>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <mat-card *ngIf="isAdmin$ | async" class="new-team">
                <div>
                    <div class="plus-sign" (click)="toggleOverlay()">
                        +
                    </div>
                    <p class="new-team-text">New Team</p>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div [ngClass]="{'backdrop': showOverlay}"></div>

<div class="overlay" *ngIf="showOverlay">
    <div class="form-container">
        <form class="registration-form" (ngSubmit)="onSubmit()">
            <div>
                <button class="close-button" type="button" (click)="toggleOverlay()"><img class="close-icon"
                        src="assets/images/cancel.png"></button>
            </div>
            <div class="input-group">
                <input [(ngModel)]="formData.name" name="team-name" type="text" placeholder="team name" required>
                <input [(ngModel)]="formData.description" name="description" type="text" placeholder="description"
                    required>
            </div>
            <div class="input-group center-items">
                <h3 for="member">Select Members</h3>
                <select [(ngModel)]="formData.member" name="member" id="member" required
                    (change)="handleMemberSelection()">
                    <option value="false" disabled [selected]>Pick an option</option>
                    <option *ngFor="let employee of employees" [ngValue]="employee">
                        {{ employee.profile.firstname }} {{ employee.profile.lastname.charAt(0) }}.
                    </option>
                </select>
            </div>
            <div class="selected-members">
                <div class="member-container" *ngFor="let member of selectedMembers">
                    <p class="select-member">{{ member.profile.firstname }} {{ member.profile.lastname.charAt(0) }}.</p>
                    <button class="close-button-small" type="button" (click)="removeMember(member)">
                        <img class="close-icon-small" src="assets/images/cancel.png">
                    </button>
                </div>
            </div>
            <div class="center-items">
                <button type="submit" class="submit-button">Submit</button>
            </div>
            <div *ngIf="showFeedback" class="form-feedback">
                <p>{{ feedbackMessage }}</p>
            </div>
        </form>
    </div>
</div>