<div class="white user-container">
    <div>
        <h2> User Registry</h2>
        <p> A general view of all your members in your organization</p>
    </div>
    <div class="user-box">
        <div class="user-table">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="allUsers$" class="mat-elevation-z8 mat-table">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="header">Name</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.profile.firstname }} {{
                            user.profile.lastname }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="header">Email</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.profile.email }}</td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef class="header">Team</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.teams.length > 0 ?
                            user.teams[0].name : "No Team" }}</td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef class="header">Active</th>
                        <td mat-cell *matCellDef="let user" class="table-row" [class.active-yes]="user.active"
                            [class.active-no]="!user.active">{{ user.active ? 'YES' : 'NO'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef class="header">Admin</th>
                        <td mat-cell *matCellDef="let user" class="table-row" [class.admin-yes]="user.admin"
                            [class.admin-no]="!user.admin">{{ user.admin ? 'YES' : 'NO'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="header">Status</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.status }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['name', 'email', 'team', 'active', 'admin', 'status']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'team', 'active', 'admin', 'status'];">
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br>
    <div class="add-user-container">
        <button class="add-user-button" (click)="toggleOverlay()">ADD USER</button>
    </div>
</div>

<div [ngClass]="{'backdrop': showOverlay}"></div>

<div class="overlay" *ngIf="showOverlay">
    <div class="form-container">
        <form class="registration-form">
            <div>
                <button class="close-button" type="button" (click)="toggleOverlay()"><img class="close-icon" src="assets/images/cancel.png"></button>
            </div>
            <div class="input-group">
                <input type="text" id="firstName" placeholder="first name" required>
                <input type="text" id="lastName" placeholder="last name" required>
            </div>
            <div class="input-group">
                <input type="email" id="email" placeholder="email" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="password" required>
                <input type="password" id="confirmPassword" placeholder="confirm password" required>
            </div>
            
            <div class="input-group center-items">
                <h3 for="adminRole">Make user an admin role?</h3>
                <select id="adminRole" required>
                    <option value="" disabled selected>Pick an option</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="center-items">
                <button type="submit" class="submit-button">Submit</button>
            </div>
        </form>
    </div>
</div>