<div class="user-container">
    <div>
        <h2> User Registry</h2>
        <p> A general view of all your members in your organization</p>
    </div>
    <div class="user-box">
        <div class="user-table">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="allUsers$" class="mat-elevation-z8 mat-table">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="header">Name</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.profile.firstname }} {{
                            user.profile.lastname }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="header">Email</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.profile.email }}</td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef class="header">Team</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.teams.length > 0 ?
                            user.teams[0].name : "No Team" }}</td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef class="header">Active</th>
                        <td mat-cell *matCellDef="let user" class="table-row" [class.active-yes]="user.active"
                            [class.active-no]="!user.active">{{ user.active ? 'YES' : 'NO'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef class="header">Admin</th>
                        <td mat-cell *matCellDef="let user" class="table-row" [class.admin-yes]="user.admin"
                            [class.admin-no]="!user.admin">{{ user.admin ? 'YES' : 'NO'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="header">Status</th>
                        <td mat-cell *matCellDef="let user" class="table-row">{{ user.status }}</td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef class="header">Options</th>
                        <td mat-cell *matCellDef="let user" class="table-row options-row">
                            <div class="options-box" *ngIf="!user.admin">
                                <button class="key-button" (click)="toggleOverlay('password', user.id)">
                                    <img class="key-icon" src="assets/images/key-icon.png"></button>
                                <button class="edit-button" (click)="toggleOverlay('edit', user.id, {firstname: user.profile.firstname, lastname: user.profile.lastname, email: user.profile.email, password: '', confirmation: '', admin: user.admin ? 'true' : 'false'})">
                                    <img class="edit-icon" src="assets/images/edit-content-color.png"></button>
                                <button class="delete-button" (click)="toggleOverlay('delete', user.id, {firstname: user.profile.firstname, lastname: user.profile.lastname, email: user.profile.email, password: '', confirmation: '', admin: user.admin ? 'true' : 'false'})">
                                    <img class="delete-icon" src="assets/images/delete-trash.png"></button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['name', 'email', 'team', 'active', 'admin', 'status', 'options']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'team', 'active', 'admin', 'status', 'options'];">
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br>
    <div class="add-user-container">
        <button class="add-user-button" (click)="toggleOverlay('create')">ADD USER</button>
    </div>
</div>

<div [ngClass]="{'backdrop': showOverlay}"></div>

<div class="overlay" *ngIf="showOverlay">
    <div class="form-container">
        <form class="registration-form" (ngSubmit)="onSubmit()">
            <div>
                <button class="close-button" type="button" (click)="toggleOverlay()"><img class="close-icon" src="assets/images/cancel.png"></button>
            </div>
            <div class="input-group" *ngIf="formMode === 'create' || formMode === 'edit'">
                <input [(ngModel)]="formData.firstname" name="firstname" type="text" placeholder="first name" required>
                <input [(ngModel)]="formData.lastname" name="lastname" type="text" placeholder="last name" required>
            </div>
            <div class="input-group" *ngIf="formMode === 'create' || formMode === 'edit'">
                <input [(ngModel)]="formData.email" name="email" type="email" placeholder="email" required>
            </div>
            <div class="input-group" *ngIf="formMode === 'create' || formMode === 'password'">
                <input [(ngModel)]="formData.password" name="password" type="password" placeholder="password" required>
                <input [(ngModel)]="formData.confirmation" name="confirmation" type="password" placeholder="confirm password" required>
            </div>
            
            <div class="input-group center-items" *ngIf="formMode === 'create' || formMode === 'edit'">
                <h3 for="adminRole">Make user an admin role?</h3>
                <select [(ngModel)]="formData.admin" name="admin" id="adminRole" required>
                    <option value="" disabled [selected]>Pick an option</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="center-items">
                <button type="submit" class="submit-button">Submit</button>
            </div>
            <div *ngIf="showFeedback" class="form-feedback">
                <p id="form-feedback-p">{{ feedbackMessage }}</p>
            </div>
        </form>
    </div>
</div>