.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 90vh;
    text-align: center;
}

.add-user-button{
    background-color: #1BA098; /* Example blue color */
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.user-box {
    border: 3px solid #DEB992;
    border-radius: 10px;
    width: 70%;
}

.mat-table {
    background-color: #051623;
}

.mat-cell.active-yes,
.mat-cell.admin-yes {
  color: #00B11C; /* Active green color */
}

.mat-cell.active-no,
.mat-cell.admin-no {
  color: #FF0000; /* Inactive red color */
}

.header {
    color: #FFFFFF;
}