h2, p {
    font-weight: 400;
    color: #1BA098
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 90vh;
    text-align: center;
}

.add-user-container{
    width: 70%;
    display: flex;
    align-items: left;
    justify-content: left;;
}

.add-user-button{
    background-color: #1BA098; /* Example blue color */
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.user-box {
    border: 3px solid #DEB992;
    border-radius: 10px;
    width: 70%;
    font-family: 'Roboto', sans-serif;
}

.mat-table {
    background-color: #051623;
}



.header {
    color: #FFFFFF;
    text-align: center;
    border-bottom: .4px solid #DEB992;
}

.table-row{
    color: #DEB992;
    text-align: center;
    border-bottom: .4px solid #DEB992;
}

.active-yes,
.admin-yes {
  color: #00B11C; /* Active green color */
}

.active-no,
.admin-no {
  color: #FF0000; /* Inactive red color */
}